<div class="alert alert-block alert-success"><b>Downloading the 1 Year Historical Prices of four stocks</b><br> Apple, Google, Gap, and Abbvie<br></div>

<div class="alert alert-block alert-info"><b>Importing Libraries</b><br>
 </div>

In [109]:
from pandas_datareader import data
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from pulp import *

In [56]:
import datetime

In [57]:
start_date = '2019-09-30'
end_date = '2020-09-30'

In [68]:
# Download the data

Apple = data.DataReader('AAPL', 'yahoo', start_date, end_date)
# Rename the column
Apple = Apple.rename(columns={'Adj Close': 'Apple_Adj_Close'})
# Drop the columns
Apple= Apple.drop(['High', 'Low', 'Open', 'Close','Volume'], axis=1)
# Drop the columns

Apple['Apple_Daily_Return']= np.log(Apple / Apple.shift(1))

Apple= Apple.drop(['Apple_Adj_Close'], axis=1)

In [73]:
Apple.mean()*252
Apple.std() * 252 ** 0.5

Apple_Daily_Return    0.443382
dtype: float64

In [74]:
Goog = data.DataReader('Goog', 'yahoo', start_date, end_date)
Goog = Goog.rename(columns={'Adj Close': 'Goog_Adj_Close'})
# Drop the columns
Goog= Goog.drop(['High', 'Low', 'Open', 'Close','Volume'], axis=1)
# Drop the columns

Goog['Goog_Daily_Return']= np.log(Goog / Goog.shift(1))

Goog= Goog.drop(['Goog_Adj_Close'], axis=1)

In [75]:
Goog.tail()

            Goog_Daily_Return
Date
2020-09-24           0.009200
2020-09-25           0.011604
2020-09-28           0.013446
2020-09-29           0.003279
2020-09-30           0.000184

In [76]:
Gap = data.DataReader('GPS', 'yahoo', start_date, end_date)
Gap = Gap.rename(columns={'Adj Close': 'Gap_Adj_Close'})
# Drop the columns
Gap= Gap.drop(['High', 'Low', 'Open', 'Close','Volume'], axis=1)
# Drop the columns

Gap['Gap_Daily_Return']= np.log(Gap / Gap.shift(1))

Gap= Gap.drop(['Gap_Adj_Close'], axis=1)

In [77]:
Gap.tail()

            Gap_Daily_Return
Date
2020-09-24         -0.013995
2020-09-25         -0.001840
2020-09-28          0.054358
2020-09-29         -0.028902
2020-09-30          0.018969

In [78]:
Abbvie = data.DataReader('ABBV', 'yahoo', start_date, end_date)
Abbvie = Abbvie.rename(columns={'Adj Close': 'Abbvie_Adj_Close'})
# Drop the columns
Abbvie= Abbvie.drop(['High', 'Low', 'Open', 'Close','Volume'], axis=1)
# Drop the columns

Abbvie['Abbvie_Daily_Return']= np.log(Abbvie / Abbvie.shift(1))

Abbvie= Abbvie.drop(['Abbvie_Adj_Close'], axis=1)

In [79]:
Abbvie.tail()

            Abbvie_Daily_Return
Date
2020-09-24            -0.014216
2020-09-25             0.003718
2020-09-28             0.012103
2020-09-29            -0.004478
2020-09-30             0.008024

In [95]:
df = pd.merge(Apple, Goog, how='inner', on=['Date'])

In [96]:
df.head()

            Apple_Daily_Return  Goog_Daily_Return
Date
2019-09-30                 NaN                NaN
2019-10-01            0.002764          -0.011468
2019-10-02           -0.025387          -0.023908
2019-10-03            0.008459           0.009474
2019-10-04            0.027646           0.017665

In [97]:
df = pd.merge(df, Gap, how='inner', on=['Date'])

In [98]:
df = pd.merge(df, Abbvie, how='inner', on=['Date'])

In [99]:
df.head()

,Apple_Daily_Return,Goog_Daily_Return,Gap_Daily_Return,Abbvie_Daily_Return
Date,,,,
2019-09-30,NaN,NaN,NaN,NaN
2019-10-01,0.002764,-0.011468,-0.017432,-0.033437
2019-10-02,-0.025387,-0.023908,-0.036411,-0.015135
2019-10-03,0.008459,0.009474,0.003641,0.023566
2019-10-04,0.027646,0.017665,-0.017105,0.010909

In [100]:
df.dropna(inplace=True)

In [101]:
df.head()

,Apple_Daily_Return,Goog_Daily_Return,Gap_Daily_Return,Abbvie_Daily_Return
Date,,,,
2019-10-01,0.002764,-0.011468,-0.017432,-0.033437
2019-10-02,-0.025387,-0.023908,-0.036411,-0.015135
2019-10-03,0.008459,0.009474,0.003641,0.023566
2019-10-04,0.027646,0.017665,-0.017105,0.010909
2019-10-07,0.000220,-0.001092,0.020732,-0.004430

In [102]:
df.mean()*252

Apple_Daily_Return     0.733695
Goog_Daily_Return      0.186220
Gap_Daily_Return       0.046272
Abbvie_Daily_Return    0.214244
dtype: float64

In [103]:
df.std() * 252 ** 0.5

Apple_Daily_Return     0.443382
Goog_Daily_Return      0.365968
Gap_Daily_Return       0.885496
Abbvie_Daily_Return    0.336710
dtype: float64

In [106]:

# Create an empty dataframe
df2 = pd.DataFrame(columns = ['Stock_Name', 'Avg_Returns', 'Avg_Stdev', 'Weight']) 
print(df) 
  
# append rows to an empty DataFrame 
df2 = df2.append({'Stock_Name' : 'Apple', 'Avg_Returns' : df['Apple_Daily_Return'].mean()*252, 'Avg_Stdev' : df['Apple_Daily_Return'].std() * 252 ** 0.5,'Weight':'Weight_Apple'},  
                ignore_index = True) 

df2 = df2.append({'Stock_Name' : 'Goog', 'Avg_Returns' : df['Goog_Daily_Return'].mean()*252, 'Avg_Stdev' : df['Goog_Daily_Return'].std() * 252 ** 0.5,'Weight':'Weight_Goog'},  
                ignore_index = True) 

df2 = df2.append({'Stock_Name' : 'Gap', 'Avg_Returns' : df['Gap_Daily_Return'].mean()*252, 'Avg_Stdev' : df['Gap_Daily_Return'].std() * 252 ** 0.5,'Weight':'Weight_Gap'},  
                ignore_index = True) 

df2 = df2.append({'Stock_Name' : 'Abbvie', 'Avg_Returns' : df['Abbvie_Daily_Return'].mean()*252, 'Avg_Stdev' : df['Abbvie_Daily_Return'].std() * 252 ** 0.5,'Weight':'Weight_Abbvie'},  
                ignore_index = True)

            Apple_Daily_Return  Goog_Daily_Return  Gap_Daily_Return  \
Date
2019-10-01            0.002764          -0.011468         -0.017432
2019-10-02           -0.025387          -0.023908         -0.036411
2019-10-03            0.008459           0.009474          0.003641
2019-10-04            0.027646           0.017665         -0.017105
2019-10-07            0.000220          -0.001092          0.020732
...                        ...                ...               ...
2020-09-24            0.010216           0.009200         -0.013995
2020-09-25            0.036830           0.011604         -0.001840
2020-09-28            0.023588           0.013446          0.054358
2020-09-29           -0.007597           0.003279         -0.028902
2020-09-30            0.014963           0.000184          0.018969

            Abbvie_Daily_Return
Date
2019-10-01            -0.033437
2019-10-02            -0.015135
2019-10-03             0.023566
2019-10-04             0.010909
2019-10-07            -0.004430
...                         ...
2020-09-24            -0.014216
2020-09-25             0.003718
2020-09-28             0.012103
2020-09-29            -0.004478
2020-09-30             0.008024

[253 rows x 4 columns]

In [107]:
df2.head()

  Stock_Name  Avg_Returns  Avg_Stdev         Weight
0      Apple     0.733695   0.443382   Weight_Apple
1       Goog     0.186220   0.365968    Weight_Goog
2        Gap     0.046272   0.885496     Weight_Gap
3     Abbvie     0.214244   0.336710  Weight_Abbvie

<div class="alert alert-block alert-success"><b>Create the PuLP problem variable. It is a Max return problem, we need to use LpMaximize</b></div>

In [151]:

prob = LpProblem("MaxReturn",LpMaximize)

In [112]:
# Creates a list of Stocks
Stocks = list(df2['Stock_Name'])

In [113]:
Stocks

['Apple', 'Goog', 'Gap', 'Abbvie']

In [131]:
Returns = dict(zip(Stocks,df2['Avg_Returns']*100))

In [132]:
Returns

{'Apple': 73.36946625493249,
 'Goog': 18.622041789463893,
 'Gap': 4.627249836775453,
 'Abbvie': 21.424447938087432}

In [133]:
Vol = dict(zip(Stocks,df2['Avg_Stdev']*100))

In [134]:
Vol

{'Apple': 44.33823883557515,
 'Goog': 36.59681562614123,
 'Gap': 88.54958075639173,
 'Abbvie': 33.67101095523965}

In [135]:
#Create a dictionary of Stocks Weights with lower bound. Short sale not allowed
Stock_Weights = LpVariable.dicts("Weight",Stocks,0,cat='Continuous')

In [136]:
Stock_Weights

{'Apple': Weight_Apple,
 'Goog': Weight_Goog,
 'Gap': Weight_Gap,
 'Abbvie': Weight_Abbvie}

<div class="alert alert-block alert-info"><b>Adding Objective Function</b><br>
Max(WA * RA+ WG * RG + WGa * RGa + WAb * RAb)</div>

In [137]:
prob += lpSum([Returns[i]*Stock_Weights[i] for i in Stocks]), "Total Return of the Portfolio"

<div class="alert alert-block alert-info"><b>Adding Risk Constraint</b><br>
WA * sigmaA + WG * sigmaG + WGa * sigmaGa + WAb * sigmaAb <= 40% </div>

In [139]:
prob += lpSum([Vol[f] * Stock_Weights[f] for f in Stocks]) <= 40.0, "Volatility Constraint"

<div class="alert alert-block alert-info"><b>Total Weight = 1</b><br>
WA  + WG  + WGa  + WAb = 1 </div>

In [143]:
prob += lpSum( [Stock_Weights[f] for f in Stocks]) == 1.0, "Weight Constraint"

In [144]:
prob.writeLP("Max_Return.lp")

[Weight_Abbvie, Weight_Apple, Weight_Gap, Weight_Goog]

<div class="alert alert-block alert-info"><b>Run the Solver</b><br>
 </div>

In [146]:
prob.solve()
print("Status:", LpStatus[prob.status])

Status: Optimal

In [149]:
print("Optimal Portfolio Weights\n"+"-"*110)
for v in prob.variables():
    if v.varValue>0:
        print(v.name, "=", v.varValue * 100)

Optimal Portfolio Weights
--------------------------------------------------------------------------------------------------------------
Weight_Abbvie = 40.668849
Weight_Apple = 59.331151000000006